{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Papers</li><li>Abstract</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>File_name</th>
                    <th>Updated_at</th>
                    {% if 'ROLE_SPEAKER' in user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for paper in papers %}
                    <tr>
                        <td>{{ paper.id }}</td>
                        <td>{{ paper.title }}</td>
                        <td>{{ paper.description }}</td>
                        <td><a target="_blank" href="{{ path('paper_file', {id: paper.id}) }}">{{ paper.filename }}</a></td>
                        <td>{% if paper.updatedat %}{{ paper.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                        {% if 'ROLE_SPEAKER' in user.roles %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('paper_edit', { 'id': paper.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

                {% if 'ROLE_SPEAKER' in user.roles %}
                    <tr>
                        <td colspan="7">
                            <a class="btn btn-lg btn-primary" href="{{ path('paper_new') }}">New Paper</a>
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
