{% extends 'base.html.twig' %}

{% block body %}
    <h4>Conferences available</h4>
    {% for conference in conferences %}
        {{ conference.id }}, {{ conference.name }}, {{ conference.startTime|date('Y-m-d H:i:s') }} --- {{ conference.endTime|date('Y-m-d H:i:s') }}
        <br>
    {% endfor %}
    <br>
    <br>

    <a href="{{ path('fos_user_registration_register') }}">Register</a>
    <br>
    <a href="{{ path('fos_user_security_login') }}">Login</a>
{% endblock %}