{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Papers</li><li>Full</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Meta Information</th>
                    <th>File_name</th>
                    {% if 'ROLE_SPEAKER' in user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for fullPaper in fullPapers %}
                    <tr>
                        <td>{{ fullPaper.id }}</td>
                        <td>{{ fullPaper.title }}</td>
                        <td>{{ fullPaper.description }}</td>
                        <td>{{ fullPaper.metaInfo }}</td>
                        <td><a target="_blank" href="{{ path('dashboard_fullpaper_file', {id: fullPaper.id}) }}">{{ fullPaper.filename }}</a></td>
                        {% if 'ROLE_SPEAKER' in user.roles %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_fullpaper_edit', { 'id': fullPaper.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if 'ROLE_SPEAKER' in user.roles %}
                    <tr>
                        <td colspan="7">
                            <a class="btn btn-lg btn-primary" href="{{ path('dashboard_fullpaper_new') }}">New Full Paper</a>
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Evaluations</th>
                </tr>
                </thead>
                <tbody>
                {% for paper in fullPapers %}
                    <tr>
                        <td>{{ paper.title }}</td>
                        <td>
                            {% for evaluation in paper.paperEvaluations %}
                                {% if evaluation.rate < 4 %}
                                    {% set color = 'greenLight' %}
                                {% elseif evaluation.rate > 4 %}
                                    {% set color = 'red' %}
                                {% else %}
                                    {% set color = 'orange' %}
                                {% endif %}
                                <span class="badge bg-color-{{ color }}">
                                    {{ paperEvaluationHelper.rateToText(evaluation.rate) }}
                                </span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
