{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Papers</li><li>Full</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Meta Information</th>
                    <th>File_name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for fullPaper in fullPapers %}
                    <tr>
                        <td><a href="{{ path('dashboard_fullpaper_show', { 'id': fullPaper.id }) }}">{{ fullPaper.id }}</a></td>
                        <td>{{ fullPaper.title }}</td>
                        <td>{{ fullPaper.description }}</td>
                        <td>{{ fullPaper.metaInfo }}</td>
                        <td><a target="_blank" href="{{ path('dashboard_fullpaper_file', {id: fullPaper.id}) }}">{{ fullPaper.filename }}</a></td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('dashboard_fullpaper_edit', { 'id': fullPaper.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">
                        <a class="btn btn-lg btn-primary" href="{{ path('dashboard_fullpaper_new') }}">New Full Paper</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
