{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Full</li><li>Paper</li><li>New</li>
            </ol>
        </div>

        <div id="content">

            <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
                    <h2>New Full Paper</h2>
                </header>

                <div role="content">

                    <form action="{{ path('dashboard_fullpaper_new') }}" method="post" enctype="multipart/form-data">

                        Title:
                        <br>
                        {{ form_widget(form.title) }}
                        <br>
                        <br>

                        Description:
                        <br>
                        {{ form_widget(form.description) }}
                        <br>
                        <br>

                        Meta Information:
                        <br>
                        {{ form_widget(form.meta_info) }}
                        <br>
                        <br>

                        Updated at:
                        <br>
                        {{ form_widget(form.updated_at) }}
                        <br>
                        <br>

                        Paper Type:
                        <br>
                        {{ form_widget(form.paperType) }}
                        <br>
                        <br>

                        Paper File:
                        <br>
                        {{ form_widget(form.paper_file) }}
                        <br>

                        {{ form_widget(form._token) }}

                        <br>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Create" />
                        <br>
                        <br>
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
