{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Evaluations list</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Message</th>
                    <th>Rate</th>
                    <th>Paper</th>
                    {% if 'ROLE_REVIEWER' in user.roles or 'ROLE_PC' in user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for paperEvaluation in paperEvaluations %}
                    <tr>
                        <td>{{ paperEvaluation.id }}</td>
                        <td>{{ paperEvaluation.message }}</td>
                        <td>{{ paperEvaluation.rate }}</td>
                        <td><a href="{{ path('paper_show', { 'id': paperEvaluation.paper.id }) }}">{{ paperEvaluation.paper.id }}</a></td>
                        {% if 'ROLE_REVIEWER' in user.roles or 'ROLE_PC' in user.roles %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_paperevaluation_edit', { 'id': paperEvaluation.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if 'ROLE_REVIEWER' in user.roles or 'ROLE_PC' in user.roles %}
                    <tr>
                        <td colspan="7">
                            <a class="btn btn-lg btn-primary" href="{{ path('dashboard_paperevaluation_new') }}">New Evaluation</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
