{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paperevaluation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ paperEvaluation.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ paperEvaluation.message }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ paperEvaluation.rate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dashboard_paperevaluation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dashboard_paperevaluation_edit', { 'id': paperEvaluation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
