{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Papers</li><li>Paper Types List</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for paperType in paperTypes %}
                    <tr>
                        <td><a href="{{ path('papertype_show', { 'id': paperType.id }) }}">{{ paperType.id }}</a></td>
                        <td>{{ paperType.name }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('papertype_show', { 'id': paperType.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('papertype_edit', { 'id': paperType.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">
                        <a class="btn btn-lg btn-primary" href="{{ path('papertype_new') }}">New Paper Type</a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
