{% extends '::board/base.html.twig' %}

{% block body %}
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Conference</li><li>List</li>
            </ol>
        </div>

        <div id="content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Start_time</th>
                    <th>End_time</th>
                    <th>Call_for_papers_start</th>
                    <th>Call_for_papers_end</th>
                    <th>Paper_submission_start</th>
                    <th>Paper_submission_end</th>
                    {% if 'ROLE_PC' in user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.id }}</td>
                        <td>{{ conference.name }}</td>
                        <td>{% if conference.starttime %}{{ conference.starttime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.endtime %}{{ conference.endtime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.callforpapersstart %}{{ conference.callforpapersstart|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.callforpapersend %}{{ conference.callforpapersend|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.papersubmissionstart %}{{ conference.papersubmissionstart|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.papersubmissionend %}{{ conference.papersubmissionend|date('Y-m-d H:i:s') }}{% endif %}</td>
                        {% if 'ROLE_PC' in user.roles %}
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('dashboard_conference_edit', { 'id': conference.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if 'ROLE_PC' in user.roles %}
                    <tr>
                        <td colspan="9">
                            <a class="btn btn-lg btn-primary" href="{{ path('dashboard_conference_new') }}">New Conference</a>
                        </td>
                    </tr>
                {% endif %}

                </tbody>
            </table>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Start_time</th>
                    <th>End_time</th>
                    <th>Join</th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.name }}</td>
                        <td>{% if conference.starttime %}{{ conference.starttime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if conference.endtime %}{{ conference.endtime|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                {% if conference in user.conferences %}
                                    <div class="btn btn-default">
                                        I'm in
                                    </div>
                                {% else %}
                                    <a href="{{ path('user_attach_conference', { 'conference': conference.id}) }}">
                                        <div class="btn btn-success">
                                            Join
                                        </div>
                                    </a>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Categories</th>
                </tr>
                </thead>
                <tbody>
                {% for conference in conferences %}
                    <tr>
                        <td>{{ conference.name }}</td>
                        <td>
                            [ {{ conference.paperTypes|join(', ') }} ]
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
{% endblock %}
